@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
:root {
    /* --blue: #3490f4;
    --main: #ef5252; */
    --blue: #13375e;
    --title: #fd1e1e;
    --main: #bc0000;
    --pattern: url("assets/images/tileBG2.png");
  }

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    box-sizing: border-box;
    background-color: var(--main);
    background-image: var(--pattern);
    background-repeat: repeat;
    overflow: hidden;
    font-family: 'Comic Neue', cursive;
}
.mainContainer{
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 120px);
    margin: 90px 0 30px 0;
    overflow-y: auto;
}
.mainContainer::-webkit-scrollbar{
    width: 15px;
}
.mainContainer::-webkit-scrollbar-track {
    margin: 10px 0;
}
.mainContainer::-webkit-scrollbar-thumb {
    background: #292e338d; 
    border-radius: 10px;
    border: solid 2px #ffffffa8;
}
.mainContainer::-webkit-scrollbar-thumb:hover {
    background: #00519b; 
}


/* =========================== Header =========================== */
header{
    text-align: center;
    height: 80px;
    padding: 5px 20px;
    background-color: #1a0500;
    border-bottom: solid 2px #ffffff;
    filter: drop-shadow(0px 10px 20px #000000b3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5000;
}
.headerChild{
    margin: 0 auto;
    width: 830px;
}
.title_mainColor, .title_witeLine, .title_blueLine, .title_backOffset {
    margin: 0px;
    position: absolute;
    font-size: 90px;
    font-family: 'Niconne', cursive;
}
.title_mainColor{ color: var(--title);}
.title_witeLine{ -webkit-text-stroke: 4PX #ffffff;}
.title_blueLine{ -webkit-text-stroke: 14PX var(--blue);}
.title_backOffset{ -webkit-text-stroke: 22PX #00519b; top: 8px; text-shadow:7px 15px 10px #000000; }

.addNote_Btn{
    float: right;
    width: 234px;
    height: 70px;
    margin-top: 32px;
    background-image: url("assets/images/addNoteBtn.png");
    filter: drop-shadow(0px 5px 5px #000000);
}
.addNote_Btn:hover{
    cursor: pointer;
    background-position: 0px 140px;
}

/* =========================== Form =========================== */
.formDiv{
    box-sizing: border-box;
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -40%);
    padding: 40px 70px;
    color: #ffffffaa;
    background-color: #1a0500;
    border: solid 2px #ffffffbe;
    border-radius: 30px;
    filter: drop-shadow(0px 10px 20px #000000b3);
}
.formDiv h3{
    margin-top: 0;
    font-weight: 100;
    font-size: 22px;
}
/* -- */
.formDiv textarea{
    display: block;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 20px;
    font-size:17px;
}
.formDiv input{
    height: 28px;
    border-radius: 6px;
    padding: 3px;
    font-size: 17px;
    margin-bottom: 7px;
}
.formDiv input[type=date]{ margin-right: 30px; }
.formDiv input[type=time]{ width: 100px; }

.formDiv button{
    border-radius: 24px;
    padding: 10px 26px;
    margin: 10px 20px 0 0;
    font-size: 17px;
    margin-bottom: 7px;
}
.formDiv button:hover{ cursor: pointer; }
.formDiv button[type=submit]{ color: white; background-color: #00519b; border: solid 2px white;}
.formDiv button[type=reset]{ color: white; background-color: #2d353e; border: solid 2px white;}

.formDiv button[type=submit]:hover{ background-color: var(--blue);}
.formDiv button[type=reset]:hover{ background-color: #434c57;}


/* =========================== Board & Notes =========================== */
.notesContainer{
    padding: 80px 60px 0 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 60px;
}
.noteItem{
    background-image: url("assets/images/paper1.png");
    background-repeat: no-repeat;
    width: 230px;
    height: 330px;
    margin: 10px 15px;
    padding: 5px 15px;
    font-size: 17px;
    position:relative;
    filter: drop-shadow(10px 10px 5px #00000050);
}
.noteItem .noteTools{
    height: 24px;
    text-align: right;
    margin: 10px 0px 5px 0px;
}
.deleteBtn{
    display:none;
}
.noteItem:hover .deleteBtn{
    cursor: pointer;
    display: inline;
}
.scotch{
    position: absolute;
    top: -20px;
}
.noteContent{
    width: 200px;
    height: 240px; 
    padding-right: 10px;
    padding-left: 20px;
    overflow-y: auto;
}
.noteContent div{
    display: block;
    padding-bottom: 60px;
}
.contentFade{
    background-image: url("assets/images/fade.png");
    width: 85%;
    height: 88px;
    position: absolute;
    bottom: 55px;
    left:14px;
}
.noteDateAndTime{
    padding-left: 10px;
}
.noteDateAndTime span:nth-child(2){
    margin-left: 20px;
    color: var(--blue);
}

/* scroll */
.noteContent::-webkit-scrollbar{
    width: 10px;
}
.noteContent::-webkit-scrollbar-track {
    margin: 7px 0;
}
.noteContent::-webkit-scrollbar-thumb {
    background: rgba(121, 119, 119, 0.2); 
    border-radius: 8px;
}
.noteContent::-webkit-scrollbar-thumb:hover {
    background: #797777; 
  }

  /* ========================= Footer ========================== */
  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #1a0500;
    border-top: solid 2px #ffffff;
  }
  #recycle{
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 120px;
    height: 160px;
    rotate: 5deg;
    background-image: url("assets/images/recycle1.png");
    filter: drop-shadow(-5px -3px 10px #000000b3);
  }
  #recycle:hover{
    cursor: pointer;
    /* background-position: 0px 160px; */
  }

  #blackScreen{
    position: fixed;
    top: 0;
    width: 5000px;
    height: 5000px;
    overflow: hidden;
    background-color: #000000aa;
  }