@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
:root {
    --darkBlue: #13375e;
    --lightBlue: #00519b;
    --title: #fd1e1e;
    --main: #4b1c00;
    --pattern: url("assets/images/tileBG2.png");
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    box-sizing: border-box;
    background-color: var(--main);
    background-image: var(--pattern);
    background-repeat: repeat;
    overflow: hidden;
    font-family: 'Comic Neue', cursive;
}

/* =========================== Main Container =========================== */
.mainContainer{
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 120px);
    margin: 90px 0 30px 0;
    overflow-y: auto;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track {
    margin: 18px 0;
}
::-webkit-scrollbar-thumb {
    background: #292e338d; 
    border-radius: 10px;
    border: solid 2px #ffffffa8;
}
::-webkit-scrollbar-thumb:hover {
    background: #00519b; 
}


/* =========================== Header =========================== */
header{
    text-align: center;
    height: 80px;
    padding: 5px 20px;
    background-color: #1a0500;
    border-bottom: solid 2px #ffffff;
    filter: drop-shadow(0px 10px 20px #000000b3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5000;
    box-sizing: border-box;
}
.headerChild{
    margin: 0 auto;
    width: 555px;
}
.title_mainColor, .title_witeLine, .title_blueLine, .title_backOffset {
    margin: 0px;
    position: absolute;
    font-size: 90px;
    font-family: 'Niconne', cursive;
}
.title_mainColor{ color: var(--title);}
.title_witeLine{ -webkit-text-stroke: 4PX #ffffff;}
.title_blueLine{ -webkit-text-stroke: 14PX var(--darkBlue);}
.title_backOffset{ -webkit-text-stroke: 22PX #00519b; top: 8px; text-shadow:7px 15px 10px #000000; }

.addNote_Btn{
    position: fixed;
    float: right;
    width: 234px;
    height: 70px;
    background-image: url(assets/images/addNoteBtn.png);
    filter: drop-shadow(0px 5px 5px #000000);
    left: 50%;
    transform: translate(-117px, 40%);
    z-index: 100;
}
.addNote_Btn:hover{
    cursor: pointer;
    background-position: 0px 140px;
}

/* =========================== Notes =========================== */
.notesContainer{
    padding: 140px 60px 0 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 60px;
}
.noteItem{
    background-image: url("assets/images/paper1.png");
    background-repeat: no-repeat;
    width: 230px;
    height: 330px;
    margin: 10px 15px;
    padding: 5px 15px;
    font-size: 17px;
    position:relative;
    filter: drop-shadow(10px 10px 5px #00000050);
}
.noteItem .noteTools{
    height: 24px;
    text-align: right;
    margin: 10px 0px 5px 0px;
}
.deleteNoteBtn{
    display:none;
}
.noteItem:hover .deleteNoteBtn{
    cursor: pointer;
    display: inline;
}
.scotch{
    position: absolute;
    top: -20px;
}
.noteContent{
    width: 200px;
    height: 240px; 
    padding-right: 10px;
    padding-left: 20px;
    overflow-y: auto;
}
.noteContent div{
    display: block;
    padding-bottom: 60px;
}
.contentFade{
    background-image: url("assets/images/fade.png");
    width: 85%;
    height: 88px;
    position: absolute;
    bottom: 55px;
    left:14px;
}
.noteDateAndTime{
    padding-left: 10px;
}
.noteDateAndTime span:nth-child(2){
    margin-left: 20px;
    color: var(--darkBlue);
}
/* --- scroll bar --- */
.noteContent::-webkit-scrollbar{
    width: 10px;
}
.noteContent::-webkit-scrollbar-track {
    margin: 7px 0;
}
.noteContent::-webkit-scrollbar-thumb {
    background: #79777733; 
    border: none;
    border-radius: 8px;
}
.noteContent::-webkit-scrollbar-thumb:hover {
    background: #797777; 
}

/* =========================== Side Tool Bar =========================== */
.tools{
    position: fixed;
    left: 20px; top: 50%;
    transform: translate(0, -40%);
    background-color: #1a0500af;
    border: solid 2px white;
    border-radius: 60px;
    width: 70px;
    height: 280px;
}
.tools div{
    width: 50px;
    height: 50px;
    margin: 32px auto;
}
.tools div:hover{
    cursor: pointer;
}

#colorIcon{ background-image: url("assets/images/palette_icon.png"); }
#colorIcon:hover{ background-image: url("assets/images/palette_hover_icon.png"); }

#sortIcon{ background-image: url("assets/images/sort_icon.png"); }
#sortIcon:hover{ background-image: url("assets/images/sort_hover_icon.png"); }

#recycleIcon{ background-image: url("assets/images/recycle_icon.png"); }
#recycleIcon:hover{ background-image: url("assets/images/recycle_hover_icon.png"); }

#colorIcon input[type=color]{
    opacity: 0;
    width: 50px;
    height: 50px;
}
#colorIcon input[type=color]:hover{
    cursor: pointer;
}

/* =========================== Form PopUp =========================== */
.popUpDiv{
    box-sizing: border-box;
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -40%);
    padding: 40px 70px;
    max-height: 70%;
    min-width: 585px;
    overflow-y: auto;
    color: #ffffffaa;
    background-color: #1a0500;
    border: solid 2px #ffffffbe;
    border-radius: 30px;
    filter: drop-shadow(0px 10px 20px #000000b3);
    z-index: 5000;
}
.formDiv h3{
    margin-top: 0;
    font-weight: 100;
    font-size: 22px;
}
form textarea{
    display: block;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 20px;
    font-size:17px;
}
form input{
    height: 28px;
    border-radius: 6px;
    padding: 3px;
    font-size: 17px;
    margin-bottom: 7px;
}
form input[type=date]{ margin-right: 30px; }
form input[type=time]{ width: 100px; }

.button{
    border-radius: 24px;
    padding: 10px 26px;
    margin: 10px 20px 0 0;
    font-size: 17px;
    margin-bottom: 7px;
    border: solid 2px white;
    color: white;
}
.button:hover{cursor: pointer;}

form button[type=submit]{ color: white; background-color: #00519b;}
form button[type=reset]{ color: white; background-color: #2d353e;}

form button[type=submit]:hover{ background-color: var(--darkBlue);}
form button[type=reset]:hover{ background-color: #434c57;}

.closePopUp{
    color: white;
    background-color: #2d353e;
    border: solid 2px white;
    border-radius: 18px; 
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px; 
}

.closePopUp:hover{
    background-color: #434c57;
    cursor: pointer;
}

/* ========================= Recycle PopUp ========================== */
.popUpDiv table{
    width: 100%;
}
.popUpDiv th{
    text-align: left;
    font-size: 22px;
    color: var(--lightBlue);
}
.popUpDiv td{
    vertical-align: top;
    padding-top: 10px;
    border-top: solid 1PX #ffffff2c;
}
.popUpDiv td:first-of-type{
    width: 100px;
}
.popUpDiv td:last-of-type{
    width: 50px;
}
.restoreBtn{
    width: 30px;
    height: 30px;
    background-color: none;
    background-image:url("assets/images/restoreIcon.png");
    background-position: 0px 0px;
    margin: 0 auto;
}
.restoreBtn:hover{
    background-position: 0px 30px;
    cursor: pointer;
}
.emptyBinBtn{
    background-color: #d60b0b;
    margin: 0px 0 30px 0;
}
#recycleBinIsEmpty{
    font-size: 26px;
}
/* ========================= Footer ========================== */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #1a0500;
    border-top: solid 2px #ffffff;
}
#blackScreen{
    position: fixed;
    top: 0;
    width: 5000px;
    height: 5000px;
    overflow: hidden;
    background-color: #000000aa;
    z-index: 4990;
}